@font-face {
    font-family: saiyan;
    src: url(../fonts/Saiyan-Sans.ttf);
}

body {
    height: 100%;
    width: 100%;
    background-image: url("../images/background.jpg");
}

header {
    text-align: center;
}

#header {
    font-family: saiyan;
    font-size: 70px;
    background-image: linear-gradient(red, orange);
    color:transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.selection {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border: none;
    cursor: pointer;
}

.character-name {
    font-family: saiyan;
    font-size: 26px;
    background-image: linear-gradient(red, orange);
    color:transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

h1 {
    font-size: 22px;
}

.clearfix {
    clear: both;
}

.select {
    text-align: center;
    position: relative;
    width: 200px;
    height: 275px;
    margin-right: 25px;
    float: left;
    margin-bottom: 40px;
    cursor: pointer;
}

.user-character {
    text-align: center;
    position: relative;
    width: 275px;
    height: 350px;
    margin-right: 25px;
    margin-bottom: 40px;
    cursor: pointer;
}

.enemy {
    text-align: center;
    position: relative;
    width: 100px;
    height: 175px;
    margin-right: 25px;
    float: left;
    margin-bottom: 40px;
    cursor: pointer;
}

.defender {
    text-align: center;
    position: relative;
    width: 275px;
    height: 350px;
    margin-right: 25px;
    margin-bottom: 40px;
    cursor: pointer;
}

#your-character {
    margin-left: 300px;
}

#defender {
    position: absolute;
    top: 70px;
    right: 300px;
}

#fight-area {
    position: absolute;
    top: 200px;
    left: 740px;
}

#attack {
    visibility: hidden;
}

.message {
    font-family: saiyan;
    font-size: 25px;
    position: absolute;
    color: white;
    top: 220px;
    left: 575px;
}

.character-hp {
    color: red;
    font-weight: bold;
}

.character-image {
    width: 100%;
    height: 100%;
}

#vegeta0 {
    width: 75%;
}

#majinbuu1 {
    width: 75%;
}

#cell3, #cell4 {
    width: 75%;
}