@font-face {
    font-family: saiyan;
    src: url(../fonts/Saiyan-Sans.ttf);
}

body {
    height: 100%;
    width: 100%;
    background-image: url("../images/background.jpg");
}

header {
    text-align: center;
}

#header {
    font-size: 70px;
    background-image: linear-gradient(red, orange);
    color:transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.selection {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border: none;
    cursor: pointer;
}

.character-name {
    font-family: saiyan;
    font-size: 26px;
    background-image: linear-gradient(red, orange);
    color:transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

h1 {
    font-size: 22px;
}

.clearfix {
    clear: both;
}

.character {
    text-align: center;
    position: relative;
    width: 200px;
    height: 275px;
    margin-right: 25px;
    float: left;
    margin-bottom: 40px;
    cursor: pointer;
}

.character-image {
    width: 100%;
    height: 100%;
}

#vegeta0 {
    width: 150px;
}

#majinbuu1 {
    width: 150px;
}

#cell3, #cell4 {
    width: 150px
}